<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/style.css">
  <title>khan Agency</title>
</head>

<body>
  {{>navbar}}
  <section id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-0 order-1 d-flex justify-content-center align-items-start flex-column intro-text">
          <h1 class="h-1">WE WILL HELP YOU TO</h1>
          <h1 class="h-2">GROW YOUR BUSINESS</h1>
          <P>We are the team of <span id="bold-span">Professional Developer 👍</span></P>
          <a href="https://facebook.com" target="_blank"><button class="btn intro-btn">Read more</button></a>
        </div>
        <div class="col-md-6  intro-img order-md-1 order-0">
          <figure>

            <img id="intro-pic" src="img/vector.jpg" alt="About us image" class="img-fluid" />
          </figure>
        </div>
      </div>
    </div>
  </section>
 
 {{!-- about us section --}}
{{>about}}

{{!-- Services section --}}
{{>services}}

{{!-- our team section --}}

{{>team}}

{{!-- map section  --}}
{{>map}}

{{!-- contact us section  --}}
{{>contact}}

{{!-- footer section  --}}

{{>footer}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="js/smooth.js"></script>

  <script>
      $(document).ready(function () {
        $(".navbar-nav a").click(function (event) {
          $(".navbar-collapse").collapse("hide");
        });
      });
     let form=document.querySelector(".contact-btn");
     form.addEventListener("click",()=>{
       alert("Thank you")
     })
  
    </script>
      <script>
      const but=document.getElementById('Button');

      // but.addEventListener('click',()=>alert("Thanks to Subscribe us"));
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</body>

</html>