 <section id="about-us">
    <div class="container">
      <h1 class="text-center about-heading">About Us</h1>
      <p class="text-center about-p">Grow Your Bussniss with us</p>
      <div class="row">
        <div class="col-md-6 mx-auto about-img ">
          <figure>
            <img id="about-pic" src="img/about.jpg" alt="About us image" class="img-fluid" />
          </figure>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-start flex-column about-text">
          <h1 id="about-head">We are the team of Professional Developer 👍</h1>
          <p id="about-para mt-5">Welcome to <span class="bold-about">Khan Agency.</span> Your Choice and Taste is Our First Priority. We are dedicated To Giving You Very Best of Work With a
            Focus On Three Characteristics.[Quality Customer Services, Dependability, Uniqueness.]</p>
          <a href="https://facebook.com" target="_blank"><button class="btn about-btn">Read more</button></a>
        </div>
      </div>
    </div>
  </section>
