<section id="footer">
    <div class="container">
<div class="row">
        <div class="copyright">
        <p class="mb-0 text-center">
          &copy; 2021-2022 khanAgency.com | All rights reserved
        </p>
        <p id="bottom-link" class="mb-0 text-center">
          <a href="/">Back to top |</a>
          <a href="/">Privacy |</a>
          <a href="/">Terms</a>
        </p>
      </div>
    </div>
   </div> 
</section>