<section class="input container mt-5">
<div class="bg_data">
<div class="form_wrap">
<div class="input_wrap">

 <input type="text" placeholder="Type a word" id="search_input">
<button id="search_btn">Search</button>
    
</div>
</div>
<div class="container_div">
<div class="data">
<div class="list">
    <h2 class="head text-center ">Find any word exist in the world😉 </h2>
  <h4 class="text-center loading w-50"> Loading...</h4>
<div class="icon_box">
<li id="word_id"></li>
<li><i class="fass"></i></li>
<li><i class="text mt-5"></i></li>
</div>
<p class="def_class"><strong class="def_strong"></strong> <span id="def_id"></span></p>
<div class="not_found text-center text-danger "></div>
</div>
</div>
</div>
</div>
</section>