<section class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1670.2374630124673!2d73.7458717022007!3d33.14915651094656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1608652122423!5m2!1sen!2s"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</section>