  <nav class="navbar navbar-light  navbar-expand-lg  fixed-top ">
        <h1 id="logo"class="navbar-brand " href="/">Khan Agency</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto ul-item">
            <li class="nav-item ">
              <a class="nav-link" href="#top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>