<section id="services">
    <h1 class="text-center services-heading">Our Services</h1>
    <p class="text-center services-p">Grow Your Bussniss with us</p>
    <div class="container">
        <div class="row Service-Row">
            <div class="col-md-4 mb-5">
                <div class="card p-3"><img src="img/web2.jpg" alt="web development"
                        class="card-img-top shadow bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title">Web development</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates
                            libero labore distinctio doloribus, ut esse dignissimos reprehenderit suscipit amet.</p>
                        <a href=""><button class="btn card-btn">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card p-3"><img src="img/graphic1.png" alt="web development"
                        class="card-img-top shadow bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title">Graphic Design</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates
                            libero labore distinctio doloribus, ut esse dignissimos reprehenderit suscipit amet.</p>
                        <a href=""><button class="btn card-btn">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card p-3"><img src="img/video2.jpg" alt="web development"
                        class="card-img-top shadow bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title">Video Editing</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates
                            libero labore distinctio doloribus, ut esse dignissimos reprehenderit suscipit amet.</p>
                        <a href=""><button class="btn card-btn">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mt-5">
                <div class="card p-3"><img src="img/android.png" alt="web development"
                        class="card-img-top shadow bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title">Android Development</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates
                            libero labore distinctio doloribus, ut esse dignissimos reprehenderit suscipit amet.</p>
                        <a href=""><button class="btn card-btn">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mt-5">
                <div class="card p-3"><img src="img/logo-design1.jpg" alt="web development"
                        class="card-img-top shadow bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title">Logo Design</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates
                            libero labore distinctio doloribus, ut esse dignissimos reprehenderit suscipit amet.</p>
                        <a href=""><button class="btn card-btn">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mt-5">
                <div class="card p-3"><img src="img/photo1.png" alt="web development"
                        class="card-img-top shadow bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title">Photo Editing</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates
                            libero labore distinctio doloribus, ut esse dignissimos reprehenderit suscipit amet.</p>
                        <a href=""><button class="btn card-btn">Read more</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>